* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cairo", sans-serif;
  direction: rtl;
  background-color: #1d2c1e;
}

.container {
  width: 98%;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
}

.whatsapp-bottom img {
  position: fixed;
  width: 50px;
  bottom: 20px;
  right: 15px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  z-index: 100;
}

.whatsapp-bottom img:hover {
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}

/* Start Header */

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 5px 10px;
  margin-right: 10px;
  position: absolute;
  z-index: 1;
}

header .container .menu {
  cursor: pointer;
  display: flex;
  gap: 10px;
  font-size: 18px;
}

header .container .menu i {
  margin-left: 10px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

header .container .menu i:hover {
  color: rgba(255, 255, 255, 0.798);
}

.logo img {
  width: 120px;
  margin-top: 10px;
}

.items-center {
  font-size: 13px;
  cursor: pointer;
}
.items-center span,
.items-center i {
  margin-right: 10px;
  position: relative;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.items-center i span {
  font-size: 70px;
  position: absolute;
  bottom: 2px;
  left: 8px;
}

.items-center span:hover,
.items-center i:hover {
  color: rgba(255, 255, 255, 0.798);
}

@media (max-width: 768px) {
  header .menu span span {
    display: none;
  }
  header .items-center span.same {
    display: none;
  }
}
/* End Header */
/* Start Landing */

.landing {
  position: relative;
  background-image: url("../imgs/background.png");
  background-size: 100% auto;
  background-position: center top;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  min-height: 100vh;
  overflow: hidden;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .landing {
    min-height: 140vh;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 900px) {
  .landing {
    min-height: 70vh;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 500px) {
  .landing {
    min-height: 40vh;
    padding-bottom: 0;
  }
}

/* End Landing */

/* Start Playing Section */

.playing .title {
  color: white;
  font-size: 1.125rem;
}

.playing .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 12px;
  margin: 30px 0;
}

@media (max-width: 991px) {
  .playing .cards {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media (max-width: 767px) {
  .playing .cards {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

.playing .cards .card {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  overflow: hidden;
  text-align: center;
  color: white;
}

.playing .cards img {
  width: 100%;
}

.playing .cards img:hover {
  opacity: 0.9;
}

.playing .cards .card .txt {
  font-variant-numeric: arabic-indic;
}

.playing .cards .card .txt h3 {
  font-size: 15px;
  margin: 10px;
}

.playing .cards .card .txt h4 {
  font-size: 12px;
  margin: 10px;
  font-weight: normal;
}
.playing .cards .card .txt h4 del {
  margin-right: 5px;
}

.playing .cards .card .btns {
  width: 100%;
  margin: auto;
  font-size: 15px;
  display: flex;
  justify-content: center;
}

.playing .cards .card .btns button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
}

.playing .cards .card .btns button.add {
  border: 1px solid;
  padding: 5px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin-left: 7px;
  width: 85%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.playing .cards .card .btns button.add:hover {
  background-color: white;
  color: #99dfb9;
}

.playing .cards .card .btns button.like {
  font-size: 20px;
  opacity: 0.3;
}
/* End Playing Section */
